<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar nav-blue">
        <div class="container"><a class="navbar-brand logo" href="detail-vila.html"><img src="assets/img/ciivila%202.png"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html"><i class="fa fa-home"></i></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html#form-section"><i class="fa fa-search"></i></a></li>
                </ul>
        </div>
        </div>
    </nav>
    <section id="form-section"><a class="button-back" href="index.html"><img src="assets/img/Vector.png"></a>
        <h2 class="heading">Daftar Vila</h2>
        <div class="container list-vila">
            <div class="row d-flex align-items-center p-5">
                <div class="col-md-3 card-vila"><a class="card-image" href="detail-vila.html"><img class="img-fluid" href="detail-vila.html" src="assets/img/paniisan.jpg"></a>
                    <div class="card-desc">
                        <div class="card-desc-title">
                            <h5>Rp. 1.000.000</h5>
                        </div>
                        <div class="card-desc-bottom">
                            <p class="p-left"><i class="fa fa-star"></i>5</p>
                            <p class="p-right">Vila Mekar</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 card-vila"><a class="card-image" href="detail-vila.html"><img class="img-fluid" href="detail-vila.html" src="assets/img/paniisan.jpg"></a>
                    <div class="card-desc">
                        <div class="card-desc-title">
                            <h5>Rp. 1.000.000</h5>
                        </div>
                        <div class="card-desc-bottom">
                            <p class="p-left"><i class="fa fa-star"></i>5</p>
                            <p class="p-right">Vila Mekar</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 card-vila"><a class="card-image" href="detail-vila.html"><img class="img-fluid" href="detail-vila.html" src="assets/img/paniisan.jpg"></a>
                    <div class="card-desc">
                        <div class="card-desc-title">
                            <h5>Rp. 1.000.000</h5>
                        </div>
                        <div class="card-desc-bottom">
                            <p class="p-left"><i class="fa fa-star"></i>5</p>
                            <p class="p-right">Vila Mekar</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 card-vila"><a class="card-image" href="detail-vila.html"><img class="img-fluid" href="detail-vila.html" src="assets/img/paniisan.jpg"></a>
                    <div class="card-desc">
                        <div class="card-desc-title">
                            <h5>Rp. 1.000.000</h5>
                        </div>
                        <div class="card-desc-bottom">
                            <p class="p-left"><i class="fa fa-star"></i>5</p>
                            <p class="p-right">Vila Mekar</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 card-vila"><a class="card-image" href="detail-vila.html"><img class="img-fluid" href="detail-vila.html" src="assets/img/paniisan.jpg"></a>
                    <div class="card-desc">
                        <div class="card-desc-title">
                            <h5>Rp. 1.000.000</h5>
                        </div>
                        <div class="card-desc-bottom">
                            <p class="p-left"><i class="fa fa-star"></i>5</p>
                            <p class="p-right">Vila Mekar</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 card-vila"><a class="card-image" href="detail-vila.html"><img class="img-fluid" href="detail-vila.html" src="assets/img/paniisan.jpg"></a>
                    <div class="card-desc">
                        <div class="card-desc-title">
                            <h5>Rp. 1.000.000</h5>
                        </div>
                        <div class="card-desc-bottom">
                            <p class="p-left"><i class="fa fa-star"></i>5</p>
                            <p class="p-right">Vila Mekar</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 card-vila"><a class="card-image" href="detail-vila.html"><img class="img-fluid" href="detail-vila.html" src="assets/img/paniisan.jpg"></a>
                    <div class="card-desc">
                        <div class="card-desc-title">
                            <h5>Rp. 1.000.000</h5>
                        </div>
                        <div class="card-desc-bottom">
                            <p class="p-left"><i class="fa fa-star"></i>5</p>
                            <p class="p-right">Vila Mekar</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 card-vila"><a class="card-image" href="detail-vila.html"><img class="img-fluid" href="detail-vila.html" src="assets/img/paniisan.jpg"></a>
                    <div class="card-desc">
                        <div class="card-desc-title">
                            <h5>Rp. 1.000.000</h5>
                        </div>
                        <div class="card-desc-bottom">
                            <p class="p-left"><i class="fa fa-star"></i>5</p>
                            <p class="p-right">Vila Mekar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>